
/* selector {propertie:value } */

body{
    background-color: lightsteelblue;
}
h1{
    color:green;
}
.text_1{
    font-family: Arial, Helvetica, sans-serif;
    size: 10px;
    color:blueviolet;
}
.box{
    width: 100px;
    height: 100px;
    padding: 10px;
    border:10px solid black;
    margin: 20px;
    background-color: red;
}